# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


#about NETFLIXGPT
 - Created react App
 - configured tailwind
 - header
 - routing app
 - login form
 - sign up form
 - form validation
 - useRef hook
 - fireBase setup
 - deploying our app to production
 - Create signUp user account
 - implement sign In user Api
 - created redux store with userSlice
 -